<div id="blog-video">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 entry-info">
			<% if admin_signed_in? %>
				<p><%= link_to "Submit New Video Post", new_video_post_path, class: "btn btn-primary new-bg-button" %></p>	
			<% end %>	
			<h1> Virtual Nomads TV </h1>	
			<% @video_posts.each do |b| %>
				<div class="row">	
					<div class="col-lg-6 vid-main">
					  <%= raw(b.video) %>
					</div><!--/vid-main-->
					<div class="col-lg-4">
					  <div class="vid-content">
					  	<h4><%= (b.title).titleize %></h4>	
				  		<h5>Posted By: <%= b.posted_by %></h5>
				  	  </div><!--/vid-content-->
					  <div class="vid-text">
						  <span class="vid-text-header"> Summary: </span>
						  <h4>
						  	<%= b.video_text %></h4>
					  </div><!--/vid-text-->
					  
				  	  <% if admin_signed_in? %>			 
						  <%= link_to edit_video_post_path(b) do %>
						    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit
						  <% end %>
						  <%= link_to "Delete Post",video_post_path(b), method: :delete, data: {confirm: "Are you sure you would like to delete this post?"}, class: "btn btn-danger" %>
						  <br>
					  <% end %>
					</div><!--/col-md-6-->	 	
				</div><!--/row-->
				<hr>
				<br>
			<% end %>
			<%= paginate @video_posts %>	
		</div><!--/entry-info-->

		<div class="col-lg-2 sidebar">
			<h1>  </h1>
				
		</div><!--/sidebar-->
	</div><!--/row-->
</div><!--/blog-video-->

