<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have a new booking request from: 
    	First Name: <%= @prospect.first_name %><br>
    	Last Name: <%= @prospect.last_name %><br>
    	Email: <%= @prospect.email %><br>
    	Phone: <%= @prospect.phone %><br>
    	Mailing Address: <%= @prospect.mailing_address %><br>
    	Comments/ Questions?: <%= @prospect.question_1 %><br>
    	What is Your Destination?: <%= @prospect.question_2 %><br>
    </p>
  </body>
</html>