<div class="row">
	<div class="col-md-6 col-md-offset-3 new-comment">
		<%= form_for([@blog_post, @blog_post.comments.build ]) do |b| %>
			<%= b.label :comment_content_creator, "Name",class: "comment-label" %>
			<%= b.text_field :comment_content_creator,class: "comment-text", required: true %><br><br>

			<%= b.label :comment_content, "Comment", class: "comment-label" %>
			<%= b.text_area :comment_content,class: "comment-text", required: true, cols: "20",rows: "10" %><br>

			<%= b.submit "Submit Comment", class: "btn btn-primary" %>	
		<% end %>
	</div>
</div>