<div class="row">
	<div class="col-md-6 col-md-offset-3 blog-submit">
		<%= form_for @blog_post do |b| %>
			<%= b.label :title %>
			<%= b.text_field :title %><br>

			<%= b.label :category %>
			<%= b.text_field :category %><br>

			<%= b.label :posted_by %>
			<%= b.text_field :posted_by %><br>

			<%= b.label :content %>
			<%= b.text_area :content %><br>

			<%= b.label :blog_pic, "Picture" %>
			<%= b.file_field :blog_pic %>

			<%= b.submit "Submit", class: "btn btn-primary" %>
	    <% end %>
	</div>
</div>