<div id="blog-video">
	<div class="row">
		<div class="col-md-7 col-md-offset-2 entry-info">
			<% if admin_signed_in? %>
				<p><%= link_to "Submit New Blog Post", new_blog_post_path, class: "btn btn-primary new-bg-button" %></p>	
			<% end %>

			<% if params[:search] %>
				<h2> Search Results for "<%= params[:search] %>". </h2>
			<% else %>
			<div class="main-bg-title">		
				<h1> Blog Posts </h1>
			</div><!--/main-bg-title-->
			<% end %>		
				<% @blog_posts.each do |b| %>
				<div class="row">	
					<div class="col-md-6">	
					  <div class="bg-pic">
					  	<%= link_to blog_post_path(b) do %> 
					  	<%= image_tag b.blog_pic.url(:thumb), class: "bg-thumb-pic", alt: "blog post thumbnail" %>
					  	<% end %>
					  </div><!--/bg-pic-->
					</div><!--/col-md-6-->
					<div class="col-md-6">
						  <div class="bg-title-posted">
							  <h4><span><%= link_to (b.title).titleize, blog_post_path(b) %></span>
							  Posted By: <%= b.posted_by %></h4>
						  </div>
						  <div class="bg-category">
						    <% b.categories.each do |ctg| %>
						   	  <%= (ctg.category_name).titleize %>
						    <% end %>
						  </div>
						  <div class="bg-content">
						  	<% if (raw(b.content)).length > 225 %> 
						  		<%= truncate(raw(b.content), length: 225, omission: "...") {link_to "Read", blog_post_path(b)} %>
					  		<% else %>
					  			<%= raw(b.content) %>
					  		<% end %>
					  	</div><!--/bg-content-->
				  	  <% if admin_signed_in? %>			 
						  <%= link_to edit_blog_post_path(b) do %>
						    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit
						  <% end %><br>
					  <% end %>
					  <p> Comments: <%= b.comments.count %> </p><br>
					</div><!--/col-md-6-->				 	
				</div><!--/row-->
				<br>
				<% end %>
			<%= paginate @blog_posts %>	
		</div><!--/entry-info-->

		<div class="col-md-2 sidebar">
			<h1> Archives Categories </h1>
				<% @categories.each do |list| %>
				  <%= link_to (list.category_name).titleize, blog_posts_path(:search => "#{list.category_name}"), :method => "get", class: "search" %><br>
				<% end %>
		</div><!--/sidebar-->
	</div><!--/row-->
</div><!--/blog-video-->

