<div id="blog-video">
	<div class="row">
		<div class="col-lg-7 col-lg-offset-2 entry-info">
			<% if admin_signed_in? %>
				<p><%= link_to "Submit New Blog Post", new_blog_post_path, class: "btn btn-primary new-bg-button" %></p>	
			<% end %>

			<% if params[:search] %>
				<h2 class="search-title"> Category "<%= params[:search] %>"</h2>
			<% else %>
			<div class="main-bg-title">		
				<h1> Travel Tales </h1>
			</div><!--/main-bg-title-->
			<% end %>		
			  <% @blog_posts.each do |b| %>
				<div class="row">	
					<div class="col-xs-12 col-lg-6 bg-centre">	
					  
					  	<%= link_to blog_post_path(b) do %> 
					  	<%= image_tag b.blog_pic.url(:thumb), class: "bg-thumb-pic img-responsive", alt: "blog post thumbnail" %>
					  	<% end %>
					 
					</div><!--/col-md-6-->
					<div class="col-xs-12 col-lg-6 bg-centre">
						  <div class="bg-title-posted">
							  <h4><span><%= link_to truncate(b.title.titleize, :length => 32), blog_post_path(b) %></span></h4>
							  <h4> Posted By: <%= b.posted_by %></h4>
							  Categories: <% b.categories.each do |ctg| %>
							   
							   	  <%= (ctg.category_name).titleize %>
							   	  
							    <% end %>
						  </div>
						  <div class="bg-content">
						  	<% if b.content.length > 175 %> 
						  		<%= truncate(raw(b.content), length: 175, omission: "...", :escape => false) {link_to "Read More", blog_post_path(b)} %>
					  		<% else %>
					  			<%= raw(b.content) %>
					  		<% end %>
					  	  </div><!--/bg-content-->
				  	  <% if admin_signed_in? %>			 
						  <%= link_to edit_blog_post_path(b) do %>
						    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit
						  <% end %>
						  <%= link_to "Delete Post",blog_post_path(b), method: :delete, data: {confirm: "Are you sure you would like to delete this post?"}, class: "btn btn-danger" %><br>
					  <% end %>
					  <p class="comment-count"> Comments: <%= b.comments.count %> </p><br>
					</div><!--/col-md-6-->				
				</div><!--/row-->
				<div class="share-options">
					<%= social_share_button_tag("#{b.title}", :url => "http://#{request.domain}#{blog_post_path(b)}") %>
				</div>
				<hr>
				<br>
			  <% end %>
			<%= paginate @blog_posts %>	
		</div><!--/entry-info-->

		<div class="col-lg-2 sidebar">
			<h1 class="sidebar-cat-head"> Categories </h1>
				<% @categories.each do |list| %>
				  <%= link_to (list.category_name).titleize, blog_posts_path(:search => "#{list.category_name}"), :method => "get", class: "search" %><br>
				<% end %>
		</div><!--/sidebar-->
	</div><!--/row-->
</div><!--/blog-video-->

