<div class="row">
	<div class="col-md-6 col-md-offset-3 blog-submit">
		
	  <%= form_for @blog_post do |b| %>
			<% if @blog_post.errors.full_messages.any? %>
				<div class="red-error">
					<% @blog_post.errors.full_messages.each do |error_message| %>
						    - <%= error_message %> <br />
					
					<% end %>
				</div>
			<% end %>
	
		<%= b.label :title, "Title:", class: "bg-input-label" %>
		<%= b.text_field :title, class: "bg-input" %><br>

		<%= b.label :category, "Select Categories:" %>
		<%= b.collection_select(:category_ids, Category.all, :id, :category_name, {blank: "Select Category"},{multiple: true}) %><br>

		<%= b.label :posted_by, "Posted By:", class: "bg-input-label" %>
		<%= b.select :posted_by, options_for_select(["Jessica Opoku-Amoah"]), {include_blank: false}, class: "bg-input" %><br>  

		<%= link_to "Add New Category", new_category_path, class: "btn btn-info" %><br>

		<%= b.label :blog_pic, "Main Thumbnail Picture:", class: "bg-input-label" %>
		<%= b.file_field :blog_pic %>

		<%= b.label :content, "Enter Content Below: <br /> (Notes: <br />1) Ensure you do not insert a picture or video within the first 175 characters of your blog post, or it will distort the layout of your blog post page <br /> 2) Avoid changing anything to do with the font (size, style, weight, etc.)Doing this will create inconsistencies on the site and will signficantly reduce the visual appeal)".html_safe, class: "bg-input-label" %>
		<%= b.cktext_area :content, rows: "20", cols: "120" %><br>

		<%= b.submit "Submit", class: "btn btn-primary" %>
	  <% end %>
	</div>
</div>
