<div class="row">
	<div class= "col-md-12">
		<%= link_to "Return to Blogs", '/travel-tales', class: "btn btn-warning bg-return" %><br>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="full-blog">
		  <div class="share-options">
			<%= social_share_button_tag("See Our Travel Tale: #{@blog_post.title}") %>
		  </div>
		  <div class="bg-image">	  
		  	<%= image_tag @blog_post.blog_pic %><br>
		  </div>
		  <div class="show-title">
		    <h2><%= (@blog_post.title).titleize %></h2>
		  </div>
		  <div class="show-posted">
		    <p> <span>Posted By:</span> <%= @blog_post.posted_by.titleize %>
		    </p>
		  </div>
		  <div class="show-cats">
		    Categories:<% @blog_post.categories.each do |category| %>
		      <%= category.category_name %>
		    <% end %>
		  </div>
		  <div class="show-created">
			<p> <%= @blog_post.created_at.strftime("%B %Y") %>
			</p>
		  </div>
		  <div class="show-content">
		  	<h4><%= raw(@blog_post.content) %></h4><br>
		  </div><!--/show-content-->
		  <% if admin_signed_in? %>	
	      <%= link_to edit_blog_post_path(@blog_post) do %>
		    	<i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit
		  	<% end %><br>
		  <% end %>
		  	<%= link_to "Leave a Comment",new_blog_post_comment_path(@blog_post), class: "btn btn-primary" %><br>
		</div><!--/full-blog-->
		
		<h4> Comments: </h4>
		<% if @blog_post.comments.exists? %>
		  <% @blog_post.comments.each do |com| %>
			  <div class="comments-section"> 		  
				  By: <%= com.comment_content_creator %><br>
				  <p> <%= com.created_at.strftime("%D " "at " "%r") %>
				</p>
				  <p><%= com.comment_content %></p>
			  </div><!--/comments-section-->
		  <% end %>
		<% else %>
		 <div class="comments-section"> 
			<p> Be the first to leave a comment! </p>
		  </div>
		<% end %>		
	</div>
</div>