<div class="row">
	<div class="col-md-8 col-md-offset-2">
	  
		  <%= image_tag @blog_post.blog_pic %><br>
		  <%= @blog_post.title %><br>
		  <%= @blog_post.content %><br>
		  <%= @blog_post.category %><br>
		  <%= @blog_post.posted_by %><br>

	</div>
</div>