<%= render partial: 'layouts/alt_navbar' %>
<div>
	<div class="row test">
		<div class="col-md-8 col-md-offset-2">
			<%= form_for @subscriber do |s| %>
	    	<%= s.label :first_name, class: "subscribe-label" %>
	    	<%= s.text_field :first_name, class: "subscribe-input", placeholder: "Sally", required: true %> <br />

	    	<%= s.label :last_name, class: "subscribe-label" %>
	    	<%= s.text_field :last_name, class: "subscribe-input", placeholder: "Seller", required: true %>
	    	<br />
	    	<%= s.label :email, class: "subscribe-label" %>
	    	<%= s.email_field :email, class: "subscribe-input", placeholder: "sell.my.home@sold.com", required: true %> 	
	    	<%= s.submit "Email Me My Guide!", class: "btn btn-primary fsbo-send" %>
	    <% end %>
	   
		</div>
	</div>
</div>