<%= render partial: 'layouts/home_navbar' %>
<div class="container-fluid">
	<section class="row landing-area" id="home">
		<div class="col-md-12 landing-text">
			<h1> Travel Differently. </h1>
			
		</div><!--/col-md-12-->
	</section>
	<section class="row blog-content content">
		<h1> Recent Posts </h1>
		<h2> Blog </h2>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-1.jpg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Travels </h4>
			<p> Blog on my travels </p>
		</div>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-2.jpeg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Travels 2</h4>
			<p> Blog Two on my travels </p>
		</div>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-3.jpeg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Travels 3 </h4>
			<p> Blog Three on my travels </p>
		</div>
	</section>
	<section class="row video-content content">
		<h2> Video </h2>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-3.jpg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Video </h4>
			<p> Blog on my travels </p>
		</div>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-2.jpeg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Video 2</h4>
			<p> Blog Two on my travels </p>
		</div>
		<div class="col-xs-12 col-md-4">
			<%= image_tag "trip-1.jpeg", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h4> My Video 3 </h4>
			<p> Blog Three on my travels </p>
		</div>
	</section>
	<section class="row social-content content">
		<h2> Stay In Touch </h2>
		<div class="col-xs-6 col-md-3">
			<%= image_tag "facebook.png", alt: "facebook logo" %><br>
		</div>
		<div class="col-xs-6 col-md-3">
			<%= image_tag "twitter.png", alt: "twitter logo" %><br>
		</div>
		<div class="col-xs-6 col-md-3">
			<%= image_tag "instagram.png", alt: "instagram logo" %><br>
		</div>
		<div class="col-xs-6 col-md-3">
			<%= image_tag "pinterest.png", alt: "pinterest logo" %><br>
		</div>
	</section>
</div>