<section class="row" id="home">
	<div class="col-md-12 landing-area">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag("adventure-pic.jpg", alt: "person walking on canopy") %>
		      <div class="carousel-caption">
		      	<div class="full-width">
			        <h1>We listen to finds the things that make your trip that more awesome</h1>
			        <p></p>
			      </div><!--/full-width-->
		      </div>
		    </div>

		    <div class="item">
		    	<%= image_tag("art-pic.jpg", alt: "person in art shop") %>
		      <div class="carousel-caption">
		      	<div class="full-width">
			        <h1>Allow us to curate a travel itinerary  that fits your style</h1>
			        <p></p>
		      	</div>
		      </div>
		    </div>

		    <div class="item">
		    	<%= image_tag("beach-pic.jpg", alt: "person on beach") %>
		      <div class="carousel-caption">
		      	<div class="full-width">
			        <h1>Travelling leaves you speechless, then turns you into a storyteller</h1>
			        <p></p>
			      </div>
			    </div>
		    </div>

		    <div class="item">
		    	<%= image_tag("historic.jpg", alt: "stairs from historic slave castles") %>
		      <div class="carousel-caption">
		      	<div class="full-width">
			        <h1>Explore. Dream. Discover</h1>
			        <p></p>
			      </div>
		      </div>
		    </div>
		  </div>
		</div>			
	</div><!--/col-md-12-->
	<!--< %= render partial: "subscribe_modal" %>-->
</section>

<section class="row blog-content content">
	
	<h1> Recent Posts </h1>
	<h2> Blog </h2>
	<div class="col-xs-12 col-md-4 b-post">
		<% if !@last.nil? %>
			<%= image_tag "#{@last.blog_pic.thumb.url}", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h3> <%= @last.title %></h3>
			<p> Blog on my travels </p>
		<% end %>
	</div>
	<div class="col-xs-12 col-md-4 b-post">
		<% if !@second.nil? %>
			<%= image_tag "#{@second.blog_pic.thumb.url}", class: "index-thumbnails", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h3> <%= @second.title %></h3>
			<p> Blog Two on my travels </p>
		<% end %>
	</div>
	<div class="col-xs-12 col-md-4 b-post">
		<% if !@third.nil? %>
			<%= image_tag "#{@third.blog_pic.thumb.url}", class: "index-thumbnails", class: "index-thumbnails", alt: "vacation thumbnail pic" %><br>
			<h3> <%= @third.title %> </h3>
			<p> Blog Three on my travels </p>
		<% end %>
	</div>
</section>
<section class="row video-content content">
	<h2> Video </h2>
	<div class="col-xs-12 col-md-4">			
		<iframe width="375" height="250" src="https://www.youtube.com/embed/WaXKMcFV1EQ" frameborder="0" allowfullscreen></iframe>
		<h3> My Video </h3>
		<p> Blog on my travels </p>
	</div>
	<div class="col-xs-12 col-md-4">
		<iframe width="375" height="250" src="https://www.youtube.com/embed/-wPw-lMANig" frameborder="0" allowfullscreen></iframe>
		<h3> My Video 2</h3>
		<p> Blog Two on my travels </p>
	</div>
	<div class="col-xs-12 col-md-4">
		<iframe width="375" height="250" src="https://www.youtube.com/embed/WaXKMcFV1EQ" frameborder="0" allowfullscreen></iframe><br>
		<h3> My Video 3 </h3>
		<p> Blog Three on my travels </p>
	</div>
</section>
<section class="row social-content content">
	<h2> Stay In Touch </h2>
	<div class="col-xs-4 col-md-4 col-md-offset-1">
		<h4> Latest Facebook Posts </h4>
		<div class="fb-page" data-href="https://www.facebook.com/Virtual-Nomads-257068121132395/" data-tabs="timeline" data-width="410" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Virtual-Nomads-257068121132395/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Virtual-Nomads-257068121132395/">Virtual Nomads</a></blockquote></div>
	</div>
	<div class="col-xs-4 col-md-3">
		<h4> Follow Us</h4>
		<%= link_to image_tag('facebook.png', class: "fb-button social", alt: 'facebook logo'), "https://www.facebook.com/Virtual-Nomads-257068121132395/", target: '_blank' %><br>
		<%= link_to image_tag("twitter.png", class: "tw-button social", alt: "twitter logo"), "https://twitter.com/?lang=en-ca", target: "_blank" %><br>			
		<%= link_to image_tag("instagram.png", class: "instagram-button social", alt: "instagram logo"), "https://www.instagram.com/virtualnomads/", target: "_blank" %><br>
		<%= image_tag "pinterest.png",class: "pinterest-button social", alt: "pinterest logo" %><br>
	</div>
	<div class="col-xs-4 col-md-3">
			<h4> Subscribe </h4>
		   <%= render partial: "mail_chimp_subscriber_form" %>
		   <%= image_tag "ca-small-logo.jpg", class: "nex-tico", alt: "Nexion Logo" %>
		   <%= image_tag "tico-logo.jpg", class: "nex-tico", alt: "Tico.ca Logo" %>
	</div>
</section>