<div id="video-posts">
	<div class="row">
		
		<% if admin_signed_in? %>
			<p><%= link_to "Submit New Video Post", new_video_post_path, class: "btn btn-primary" %></p>	
		<% end %>
			<% if params[:search] %>
				<h2> Search Results for "<%= params[:search] %>" </h2>
			<% else %>
		<div class="col-md-8 col-md-offset-2 entry-info">
				<h1> Video Posts </h1>
				<% if @video_posts.exists? %>	
					<% @video_posts.each do |b| %>		
					  <div class="vd-thumb"><%= b.video %>
					  </div><!--/vd-thumb-->

						  <div class="bg-title-posted">
							  <h4><span><%= link_to b.title, video_post_path(b) %></span>
							  Posted By: <%= b.posted_by %></h4>
						  </div>
						  <div class="bg-content">
						  	<% if (simple_format(b.video_text)).length > 225 %> 
						  		<%= truncate(b.video_text, length: 225, omission: "...") {link_to "Read",video_post_path(b)} %>
					  		<% else %>
					  			<%= simple_format(b.video_text) %>
					  		<% end %>
					  	</div>
					  	<% if admin_signed_in? %>			 
							  <%= link_to edit_video_blog_post_path(b) do %>
							    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit
							  <% end %><br>
						  <% end %>
						  <!--  b.comments.count if !b.comments.nil? <br> -->
						 	
					<% end %>
				<% end %>
			<% end %>
			<%= paginate @video_posts %>	
		</div><!--/entry-info-->

		
	</div><!--/row-->
</div><!--/blog-video-->

