<%= render partial: 'layouts/alt_navbar' %>
<div class="container-fluid book-page">
	<div class="row book-form">
		<div class="col-md-8 col-md-offset-2">
			<h2> Start Your Travel Journey Today </h2>
			<%= form_for @prospect do |s| %>
		    	<%= s.label :first_name, class: "prospect-label" %>
		    	<%= s.text_field :first_name, class: "prospect-input", required: true %> <br />
		    	<%= s.label :last_name, class: "prospect-label" %>
		    	<%= s.text_field :last_name, class: "prospect-input", required: true %>
		    	<br />
		    	<%= s.label :email, class: "prospect-label" %>
		    	<%= s.email_field :email, class: "prospect-input", required: true %> 
		    	<br />
		    	<%= s.label :mailing_address, class: "prospect-label" %>
		    	<%= s.text_field :mailing_address, class: "prospect-input" %> 	
		    	<br />
		    	<%= s.label :phone, class: "prospect-label" %>
		    	<%= s.text_field :phone, class: "prospect-input" %>
		    	<br />
		    	<%= s.label :question_1, class: "prospect-label" %>
		    	<%= s.text_field :question_1, class: "prospect-input" %> 	 
		    	<br />
		    	<%= s.label :question_2, class: "prospect-label" %>
		    	<%= s.text_field :question_2, class: "prospect-input" %> 
		    	<br />
		    	<div class="sending">
		    	<%= s.submit "Submit", class: "btn btn-primary button-send" %>
		    	</div>
	    	<% end %>
		</div>
	</div>
</div>