<div class="row book-page">
	<div id="book-now">	
		<div class="col-xs-12 book-form">
			<h2> Start Your Travel Journey Today </h2>
			<%= form_for @prospect do |s| %>
		    	<%= s.label :first_name, class: "prospect-label req" %>
		    	<%= s.text_field :first_name, class: "prospect-input", required: true %> <br />
		    	<%= s.label :last_name, class: "prospect-label req" %>
		    	<%= s.text_field :last_name, class: "prospect-input", required: true %>
		    	<br />
		    	<%= s.label :email, class: "prospect-label req" %>
		    	<%= s.email_field :email, class: "prospect-input", required: true %> 
		    	<br />
		    	<%= s.label :mailing_address, class: "prospect-label" %>
		    	<%= s.text_field :mailing_address, class: "prospect-input" %> 	
		    	<br />
		    	<%= s.label :phone, class: "prospect-label" %>
		    	<%= s.text_field :phone, class: "prospect-input" %>
		    	<br />
		    	<%= s.label :question_2, "What is Your Destination?", class: "prospect-label" %>
		    	<%= s.text_field :question_2, class: "prospect-input" %>
		    	<br />
		    	<%= s.label :question_1, "Comments/ Questions?", class: "prospect-label" %>
		    	<%= s.text_area :question_1, class: "prospect-input" %> 	 
		    	<br />		    	
		    	<div class="sending">
		    	<%= s.submit "Submit", class: "btn btn-primary button-send" %>
		    	</div>
	    	<% end %>
	    	<div class="hotel">
	    	<p> Looking to book a hotel? </p>
			<%= link_to "For Hotel Bookings", "http://virtualnomads.agentstudio.com/", class: "btn btn-warning btn-lg", target: "_blank" %></div>
			<div class="nex-tico-section">
			<%= image_tag "ca-small-logo.jpg", class: "nex-tico", alt: "Nexion Logo" %>
		    <%= image_tag "tico-logo.jpg", class: "nex-tico", alt: "Tico.ca Logo" %>
		    <p> Affiliated with Nexion Canada ULC
			235 North Centre Rd, Suite 100
			London ON  N5X 4E7
			TICO # 1549342
			HQ Phone:519-660-6966 </p>
			</div>
		</div>
	</div>
</div>