<div class= "row">
	<div class= "col-md-6 col-md-offset-3 add-cat">		
		<%= form_for @category do |c| %>
			<%= c.label :category_name %>
			<%= c.text_field :category_name %><br>

			<%= c.submit "Submit" %>
		<% end %><br>
		<%= link_to "See all Categories", categories_path, class: "btn btn-info" %>
	</div>
</div>