<nav class="navbar navbar-default navbar-fixed-top navbar-home">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/home"><%= image_tag "vn-logo", class: "img-responsive" %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?("/home") %>"><%= link_to "Home", "/home" %></li>
        <li class="<%= 'active' if current_page?("/about-me") %>"><%= link_to "About", "/about-me" %></li>
        <li class="<%= 'active' if current_page?("/travel-tales") %>"><%= link_to "Blogs", "/travel-tales" %></li>
        <li class="<%= 'active' if current_page?("/videos") %>"><%= link_to "Videos", "/virtual-nomads-tv" %></li>
        <li class="<%= 'active' if current_page?("/book-now") %>"><%= link_to "Book Now", "/book-now", class: "btn btn-book" %></li>
        <li><% if admin_signed_in? %>
          <%= link_to "Sign Out", destroy_admin_session_path, method: "delete", class: "btn btn-warning" %></li> 
        <% end %>
      </ul>		 
    </div>
  </div>
</nav>
